body {
  margin: 0;
  background-color: #ffffff;
}
.square {
  color: #fff;
  text-align: center;
  background-color: #efefef;
  font-weight: bold;
  font-size: 40px;
  font-family: arial;
  text-shadow: 2px 2px 2px black;
}
.blue {
  background-color: blue;
}
.blue p {
  transform: rotate(-45deg);
  margin-top: 100px;
}
.red {
  background-color: red;
}
.red p{
  transform: rotate(45deg);
  margin-top: 100px;
}
.yellow {
  background-color: yellow;
}
.yellow p{
  transform: rotate(-135deg);
  margin-top: 100px;
}
.green {
  background-color: green;
}
.green p{
  transform: rotate(135deg);
  margin-top: 100px;
}
.fortune-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 525px;
  height: 525px;
  margin: 0;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
